<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Busca Filmes</title>
  <link rel="icon" type="image/png" size="32" href="https://img.icons8.com/ios-filled/50/clapperboard.png" alt="film-reel"/>

  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <main>
    <div class="pesquisa">
      <h1>Consulta Filmes</h1>
      <form method = 'POST'>
        {% csrf_token %}
        <input type='text' id ='titulo' name='titulo' required placeholder="Título do filme" autocomplete="off">
        <button type='submit'>BUSCAR</button>
      </form>
    </div>    
    <div class="erro">
      {% if erro %}
      <p>{{erro}}</p>
      {% endif %}
    </div>
    <div class="descricoes">
      {% if filme and not erro %}
      <div class="conteudo">
          <h2>Detalhes do filme</h2>
          <p><strong>Título:</strong> {{filme.title}}</p>
          <p><strong>Título Original:</strong> {{filme.original_title}}</p>
          <p><strong>Data de Lançamento:</strong> {{ filme.release_date}}</p>
          <p><strong>Nota:</strong> {{ filme.vote_average }}</p> 
          <p><strong>Descrição:</strong> {{ filme.overview}}</p>
      </div>
      <img src="{{'https://image.tmdb.org/t/p/w500'|add:filme.poster_path}}" alt="Poster do Filme">
      {% endif %}
    </div>
  </main>
  
</body>
</html>