*{
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  background: linear-gradient(45deg,  #414141, #39398b, #1e90ff);
  width: 100%;
  height: 100%;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pesquisa{
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: flex-start;
  width: 50vw;
  height: 220px;
  border-radius: 3px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.705);
  margin: 30px;
  gap: 40px;
  overflow: hidden;
}

.pesquisa h1{
  margin-top: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

#titulo{
  border: None;
  background-color: transparent;
  border-bottom: 2px solid white;
  width: 400px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

::placeholder{
  text-align: center;
  margin-bottom: 5px;
}

form button{
  border: none;
  background:#1e90ff;
  color: white;
  padding: 7px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.705);
}

form button:hover{
  transform: scale(1.05);
}

.descricoes{
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: auto;
  border-radius: 3px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.705);
  margin: 30px;
}

.conteudo{
  padding: 10px;
}

.conteudo h2{
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1090px){
  .descricoes{
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px){
  .descricoes{
    width: 100vw;
    height: auto;
    gap: 30px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
